
  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>咕咕</b>影院</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>咕咕影院</b>管理系统</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">切换导航</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src=""    class="user-image userimg" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs nickname">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src=""  class="img-circle userimg" alt="User Image">

                <p>
                  昵称：<span class="nickname"></span>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="javascript:void(0)" to="/profile-list" id="profile-setting" class="btn btn-default btn-flat">设置</a>
                </div>
                <div class="pull-right exit-btn">
                  <a href="#" class="btn btn-default btn-flat">退出</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src=""  class="img-circle userimg" alt="User Image">
        </div>
        <div class="pull-left info">
          <!-- <p>Alexander Pierce</p> -->
          <span class="nickname"></span>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div>
      <ul class="sidebar-menu">
        <li class="header">菜单</li>
        <li class="nav-link" to="/home"><a href="javascript:void(0)"><i class="fa fa-link"></i> <span>首页</span></a></li>
        <!-- 电影信息 -->
        <li class="treeview" >
          <a href="#">
            <i class="fa fa-share"></i> <span>电影信息</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <!-- <li class="nav-link" to='/movie-lead'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i>电影数据总览</a></li> -->
            <li class="nav-link" to='/movie-list'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 电影列表</a></li>
            <li class="nav-link" to='/movie-update'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 电影更新</a></li>
            <li class="nav-link" to='/movie-save'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 添加电影</a></li> 
          </ul>
        </li>  

        <!-- 座位情况 -->
        <li class="treeview" >
          <a href="#">
            <i class="fa fa-share"></i> <span>选座信息</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <!-- <li class="nav-link" to='/movie-lead'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i>电影数据总览</a></li> -->
            <li class="nav-link" to='/movie-list'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 座位列表</a></li>
            <!-- <li class="nav-link" to='/movie-update'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 电影更新</a></li> -->
            <!-- <li class="nav-link" to='/movie-save'><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 添加电影</a></li>  -->
          </ul>
        </li>  
        <!-- 个人中心 -->
        <li class="treeview" >
          <a href="#">
            <i class="fa fa-share"></i> <span>个人中心</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="nav-link" to="/profile-list"><a href="javascript:void(0)"><i class="fa fa-folder"></i> <span>修改信息</span></a></li>
          </ul>
        </li>  
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header"  id="page-header">
     
    </section>
    <section class="content" id="router-view">
    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      咪咕影院
    </div>
    <strong>Copyright &copy; 2019 <a href="http://www.mobiletrain.org/">dhl</a>.</strong>
  </footer>

  <aside class="control-sidebar control-sidebar-dark">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
  </aside>
  <div class="control-sidebar-bg"></div>